input[type="text"],input[type="password"],textarea{
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgb(0,0,0,0.2);
}
textarea{
    overflow: auto;
    width: 100%;
    height: auto;
}
*{font-family:"Consolas",monospace;margin:0;padding:0;}
.card{margin:3px;background-color:black;}
.icon{height:22px;width:22px;}
.img-button {
    border-radius: 50%;
    height: 20px;width: 20px;border: 0;
    background-size:20px 20px;
    background-repeat:no-repeat;
}
/* ok & cancel, inherit submit element! */
.ok{background-image: url("https://cdn-icons-png.flaticon.com/128/1828/1828640.png");}.ok:active{background-image: url("https://cdn-icons-png.flaticon.com/128/786/786407.png");}
.cancel{background-image: url("https://cdn-icons-png.flaticon.com/128/399/399274.png");}
.message-card{
    position: relative;
    background: #fff;
    width: auto;
    min-width: 10%;
    max-width: 60%;
    height: auto;
    padding: 7% 5% 4%;
    border-radius: 12px;
    box-shadow: 0 0 60px 5px rgb(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    margin:0 auto;
    line-height: 200%;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* 淡入 - 1秒内从 0% 到 100% 显示: */
    opacity: 0;
    transition: opacity 0.1s;
}
.tooltip:active .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


span.User, span.VIP, span.Admin, span.Server-Owner{font-weight: bold;}
img.User, img.VIP, img.Admin, img.Server-Owner{width: 18px; height: 18px;}
img.User{content: url("https://cdn-icons-png.flaticon.com/128/3237/3237472.png");} span.User{color: gray;}
img.VIP{content: url("https://cdn-icons-png.flaticon.com/128/7108/7108023.png");}  span.VIP{color: orange;}
img.Admin{content: url("https://cdn-icons-png.flaticon.com/128/6830/6830335.png");} span.Admin{color: dodgerblue;}
img.Server-Owner{content: url("https://cdn-icons-png.flaticon.com/128/3165/3165611.png");} span.Server-Owner{color: red;}


@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

.message-window{
    z-index: 64;
    width: 100%;
    height: auto;
    top: 5px;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    position: absolute;
}
.message-data{
    z-index: 65;
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation: fade-in 0.6s;
    align-content: center;
    margin: 5px 5%;
    backdrop-filter: blur(10px);
}
.profile-content{
    color: gray;
    word-break: break-all;
}
.img-prof {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #b92a76;
    border-radius: 50%;
    box-shadow: 0 8px 55px #b92a76;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.menu{
    background-color: black;
    padding: 0 !important;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(6,55,9,0.25);
    display: flex;
}

.menu li a {
    margin-top: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    width: auto;
}

.menu li a img {
    width: 25px;
    height: 25px;
    padding: 2px;
}

/* hidden span */
.menu li a span{
    position: absolute;
    left: calc(100% + 24px);
    background-color: #fa5c51;
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 6px;
    transform: scale(0);
    opacity: 0;
    transform-origin: center left;
    transition: 0.15s ease;
    z-index: 10;
}

.menu li a span::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fa5c51;
    position: absolute;
    left: -5px;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%) rotate(45deg);
}

.menu li a:hover, .menu li a:focus, .menu li a:active{
    background-color: #fa5c51;
    outline: none;
}

.menu li a:active span, .menu li a:hover span, .menu li a:focus span{
    transform: scale(1);
    opacity: 1;
}