<template>
    <main>
        <section class="app-container">
            {% for template in templates %}
                <div class="box">
                <span></span>
                <h2 class="index">{{ template.index }}</h2>
                  <div class="content">
                      {% if template.image %}
                          <img src="{{ template.image }}" alt>
                      {% endif %}
                      <h2>{{ template.name }}</h2>
                      <p>{{ template.profile }}</p>
                      <a class="start" href="{{ template.path }}">Start!</a>
                      <hr>
                      <p class="author">author: {{ template.author }}</p>
                      {% if template.github %}
                          <a href="{{ template.github }}" target="_blank" class="github"><i class="fa fa-github"></i></a>
                      {% endif %}
                  </div>
                </div>
            {% endfor %}
        </section>
    </main>
</template>