@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
. {zoom: 1;}  .clearfix:after{content: "\20";display: block;height: 0;clear: both;} /* chat element clearfix*/
.chat-interface{
    width: 98%;
    height: 98%;
    margin: auto;
    border-radius: 2%;
    position: relative;
    overflow: auto;
    border-width: 0;
    background: rgb(255,255,155,0.5);
}
.message-box{height: 68%;overflow: auto;}
.message-box::-webkit-scrollbar {width: 10px;height: 1px;}
.message-box::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #F90;background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);}
.message-box::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #EDEDED;}
.operation-box{height: 23%;background-color:rgb(245,245,245);}
textarea.message{width: 98%; height: calc(100% - 31px);box-shadow: none;border-radius: unset;border: 0;background-color:rgb(245,245,245);margin-left: 1%;margin-right: 1%;}
textarea.message:active, textarea.message:focus-visible{border: 0;}
span.message-length{position:absolute; right:1.1%;color: darkgray;}
button.send {
    margin: 2px 2px 2px -8px;
    float: right;
    z-index: 3;
}

.chat-line{ /*chat-object主div 避免多个chat-object重叠与一行之内.*/
    width: 100%;
    height: auto;
    margin: 10px 0;
}
.chat-time{
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 15px;
    transform: translateY(6px);
}
.chat-object{
    animation: fade-in;
    animation-duration: 0.8s;
    -webkit-animation: fade-in 0.8s;
    zoom: 1;
    display: inline-block;
    width: auto;
    height: auto;
}

span.chat-content{
    width: auto;
    min-width: 70px;
    text-align: center;
    height: auto;
    margin-top: 20px;
    background-color: white;
    color: black;
    display: inline-block;
    overflow: auto;
    border: 20px;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    box-shadow: 0 5px 15px rgba(20,20,20,0.8);
    align-items: center;
    float: end;
    padding: 6px;
}
.chat-content-auto{
    position: relative;
    max-width: calc(100% - 40px); /*25px img, 1 img padding, 1 chat-obj padding , 6 chat-content padding, 2 self padding, 5 auto.*/
    padding-left: 2px;padding-right: 2px;
}

span.name{
    color: black;
    position: absolute;
    width: auto;
    white-space: nowrap;
}
img.user-image{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
}
img.fileicon{
    float: right;
    width: 50px;
    height: 50px;
}
.center-content{
    width: auto;
    text-align: center;
    color: gray;
}

div.fileinfo{
    float: left;
}
span.filename{
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    color: black;
    display: inline-block;
}

.filesize{
    max-width:100px;
    width: auto;
    height: auto;
    font-size:12px;
    color: rgb(153, 153, 153);
    text-align: end;
}

.right{float: right;margin-left: 1px;}
.left{float: left;margin-right: 1px;}
.left-chat{background-color: white;border-radius: 0 10px 10px 10px;}
.right-chat{background: linear-gradient(rgba(0, 255, 12, 255) 0%, rgba(16, 211, 22, 255) 100%);border-radius: 10px 0 10px 10px;}