@keyframes glass-fade-in {
    0% {
        right: 0;
        opacity: 0;
        transform: scale(0);
    }
    100% {
       left: 0;
        opacity: 1;
        transform: scale(1);
    }
}
section.glass-section{
    position: relative;
    background: #161623;
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}
section.glass-tools{
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
section.glass-section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-250px, -120px);
}
section.glass-section::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(250px, 150px);
}

div.glass-box{
    position: relative;
    width: 400px;
    min-height: 400px;
    margin: 5px auto;
    background: rgba(255,255,255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.1);
    border: 1px solid rgba(255,255,255, 0.5);
    border-radius: 10px;
    border-right: 1px solid rgba(255,255,255, 0.2);
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
}
div.toolsCard{
    margin: 1%;
    flex-direction: column;
}
div.glass-box h3.glass-title{
    color: #fff;
    margin-bottom: 20px;
}

div.glass-box .list{
    position: relative;
    display: flex;
    padding: 10px;
    width: calc(100% - 30px);
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;

    animation: glass-fade-in 1s;
    -webkit-animation: glass-fade-in 1s;
}

div.glass-box .list:hover{
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0,0,0, 0.5);
    transform: scale(1.15) translateX(30px) rotateY(-15deg);
    z-index: 100;
}
div.glass-box .list .imageBox{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
div.glass-box .list .imageBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
div.glass-box .list .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
}
div.glass-box .list .content .rank{
    position: absolute;
    right: 20px;
    color: #03a9f4;
    transition: 0.5s;
    font-size: 2em;
    opacity: 0.02;
}
div.glass-box .list:hover .content .rank{
    opacity: 1;
}
div.glass-box .application-list{background: rgba(0,0,0,0.26);}
div.glass-box .list .content .application-rank{ color: orange; font-weight: bold; transition: 0.6s}
div.glass-box .list .content .application-rank small{color: ghostwhite;}
div.glass-box .list:hover .content .application-rank small{color: red;}
div.glass-box .list:hover .content .rank{
    right: 20px;
}
div.glass-box .list .content .rank small
{
    font-weight: 500;
    font-size: 95%;
    opacity: 0.25;
}
div.glass-box .list .content h4{
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
}
div.glass-box .list .content p{
    inline-size: 075em;
    transition: 0.5s;
    width: calc(100% - 34px);
}
div.glass-box .list:hover .content h4,
div.glass-box .list:hover .content p{
    color: #333;
}
.glass-button {
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    line-height: 42px;
    padding: 0;
    border: none;
    margin: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
}
.glass-button:hover {color: #fff;background: transparent;box-shadow: none;backdrop-filter: none;}
.glass-button:before, .glass-button:after {content: '';position: absolute;top: 0;right: 0;height: 2px;width: 0;background: #fff;box-shadow: -1px -1px 5px 0 #fff, 7px 7px 20px 0 #0003, 4px 4px 5px 0 #0002;transition: 400ms ease all;}
.glass-button:after {right: inherit;top: inherit;left: 0;bottom: 0;}
.glass-button:hover:before, .glass-button:hover:after {width: 100%;transition: 800ms ease all;}