@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #58a6ff;
  transition: 0.4s;
  padding: 0 2px;
}

@media (hover: hover) {
  a:hover {
    background-color: #58a6ff33;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
